doctype html
html
    head
        include  includes/head  
        title Тестовое задание      
    body(class='grid')
        include  includes/sidebar 
        include  includes/header
                       
        .content-wrapper 
            block content         

      
        