doctype html
html
    head
        include  includes/head  
        title Тестовое задание      
    body(class='grid')        
        include  includes/header                                
        main(class='main')             
            block content
        include  includes/sidebar             
        include  includes/footer 
        
        