extends base

mixin user(user)
    each  curent in user           
        case curent
            when 'Active'
                button(type='button' class="choice active") Active
            when 'Inactive'
                button(type='button' class="choice inactive") Inactive
            default                           
                div(class=curent.toLowerCase() class="text")= curent



block content
    section(class="content_wrapper")
        .title_wrapper
            .text_box 
                h3(class='title') All Customers
                p(class='subtitle') Active Members
            form(class='search')
                label(class='search_lable' for='search')
                input(class='search_input' id='search' type="text" placeholder="Search")
                button(type="submit" class="search_button")
                    svg(class="search_logo")
                        use(xlink:href="icons/icons.svg#search") 
        .content_body           
            each user in users                                         
                +user(user)
                .line 
        .paginator
            p(class='paginator_name') Showing data 1 to 8 of  256K entries        
            -let numberOfUsers=320;
            -let numberORowsInContext=8;
            -let numberOfButtonInPogination=numberOfUsers/numberORowsInContext;      
            -let n=1;
            .buttons_wrapper
                button(type='button' class="paginator_page")
                    svg(class="paginator_next")
                        use(xlink:href="icons/icons.svg#arrow-left")                              
                while n<4        
                    button(type='button' class="paginator_page") #{n} 
                    -n++
                p(class="pixel") ...
                button(type='button' class="paginator_page") #{numberOfButtonInPogination}
                button(type='button' class="paginator_page")
                    svg(class="paginator_next")
                        use(xlink:href="icons/icons.svg#arrow-right")
                    
                    


