@import "../utils/breakpoints";

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    // font-family: 'Poppins', 'Times New Roman', sans-serif;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    
    font-family: 'Poppins','Times New Roman';
    font-weight: 600;
    font-size: 26px;

    color: var(--color-text);
    background-color:var(--color-body); 
      
}

.grid{
    display: grid;    
    

    @include _mobile {
        display: block;
    }    
}

.main{
    grid-column: col 2/ col 3;    
}


