@import "../utils/breakpoints";

.sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
    background-color: var(--color-fon);
    height: 100vh;   
    padding: 30px;    

    @include _mobile {
        display: none;
    }
    
}

.sidebar_title_wrapper{    
    display: flex;  
    align-items: center;
    width: 100%;
}

.logo{
    width: 37px;
    height: 37px;
    // background: url('../../icons/setting.svg');
}

.sidebar_title{
    display: flex;
    align-items: flex-end;
    margin-left: 8px;
}

.title_copyright{    
    font-weight: 500;
    font-size: 100px;
    color: var(--color-text-invert);   
}


.menu{    
    margin-top: 70px;
    padding: 10px;
    
} 


.menu_item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    width: 80%;
    height: 40px;

    margin-bottom: 25px;
    padding-left: 30px;
    border-radius: 8px; 

    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-invert);

    cursor: default;

    &:hover {
        background: var(--color-activ-button);               
    }
    
    &:focus{
        border: 1px solid var(--color-activ-button);
        text-decoration: none;
        color: var(--color-text-invert);
    }
}

.menu_icon1 {
    position: absolute;
    left: 2px; 
    top: 8px;
    width: 24px;
    height: 24px;   
    
    background-position: center;
}

.menu_icon2 {
    width: 16px;
    height: 16px;

    background: url('../../icons/chevron-right.svg');
    background-position: center;    
}




.avatar_wrapper{
    display:flex;    
}

.foto{
    width: 42px;
    height: 42px;

    overflow: hidden;
}

.avatar{
    font-weight: 500;
    font-size: 14px;

    margin-left: 10px;
}

.avatar_prof{
    font-weight: 400;
    font-size: 12px;
    color:var(--color-text-invert)
}