-let menu=[{name:'Dashboard'},{name:'Product'},{name:'Customers'},{name:'Income'},{name:'Promote'},{name:'Help'}]

aside(class='sidebar') 
    div(class='sidebar_wrapper')
        .sidebar_title_wrapper           
            svg(class="logo")
                use(xlink:href="icons/icons.svg#setting")  
            .sidebar_title
                h1(class="title_name") Dashboard
                span(class='title_copyright') v.01 
        .menu 
            each  item in menu                                       
                a(href="#" class='menu_item')= item.name
                    svg(class="menu_icon1")
                        use(xlink:href="icons/icons.svg#" + item.name.toLowerCase()) 
                    svg(class="menu_icon2")
                        use(xlink:href="icons/icons.svg#chevron-right")                                                     
    .avatar_wrapper 
        .foto
            img(src='icons/avatar/avatar.png' alt='Users avatar')
        .avatar            
            p(class="avatar_name") Evano
            span(class='avatar_prof')  Project Manager