-let menu=[{name:'Dashboard',url:'../../icons/key-square.svg'},{name:'Product',url:'../../icons/3d-square.svg'},{name:'Customers',url:'../../icons/user-square.svg'},{name:'Income',url:'../../icons/wallet-money.svg'},{name:'Promote',url:'../../icons/discount-shape.svg'},{name:'Help',url:'../../icons/message-question.svg'}]




aside 
    div
        .sidebar-title
            include ../../icons/setting.svg
            h2 Dashboard
            span v.01 
        .sidebar-menu 
            each  item in menu  
                button  #{item.name}
                    img(src=item.url class='icon')
                    img(src='../../icons/chevron-right.svg' class='arrow')
    .avatar 
        img(src='../../icons/avatar/avatar.png')
        .avatar-name            
            p Evano
            span Project Manager