-let menu=['Dashboard','Product','Customers','Income','Promote','Help']

mixin menu(item)             
    a(href="#" class='menu_link')= item
        svg(class="menu_icon1")
            use(xlink:href="icons/icons.svg#" + item.toLowerCase()) 
        svg(class="menu_icon2")
            use(xlink:href="icons/icons.svg#chevron-right")                            


aside(class='sidebar') 
    div(class='sidebar_wrapper')
        .sidebar_title_wrapper           
            svg(class="logo")
                use(xlink:href="icons/icons.svg#setting")  
            .sidebar_title
                h1(class="title_name") Dashboard
                span(class='title_copyright') v.01 
        nav(class='nav')
            ul(class='menu')
                each  item in menu
                    li(class='menu_item')
                        +menu(item)                                       
                                         
    .avatar_wrapper 
        .foto
            img(src='icons/avatar/avatar.png' alt='Users avatar')
        .avatar            
            p(class="avatar_name") Evano
            span(class='avatar_prof')  Project Manager