:root {
    --color-text: #292D32;
    --color-text-invert:#B5B7C0;
    --color-text-accent:#16C098;

    --color-body:#FAFBFF;
    --color-fon: #FFFFFF;
   
    --color-button-fon:rgb(22, 192, 152,0.38);
    --color-buttom-fon-invert: #FFC5C5;
    --color-text-buttom:#008767;
    --color-text-buttom-invert:#DF0404;
    --color-activ-button:#5932EA;
}